body {
    background-color: lightblue;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Helvetica;
}
h1 {
    font-size: 80px;
    font-family: Helvetica;
}

p { 
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    border: solid black;
    background-color: gray;
}

.square {
    font-size: 22px;
    font-family: Helvetica;
    
}

#first {
    font-size: 22px;
}

html {
    border: solid black;
}

img {
    border: solid white; 
}